.details-dialog-title {
  padding: 0 30px;
}

.details-dialog-content {
  min-height: 300px;
  padding: 0 40px;
}

.details-dialog-cover {
  padding: 30px;
}

.details-dialog-image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
