

<table mat-table matSort [dataSource]="news" class="news-table">
  <ng-container matColumnDef="thumbnail">
    <th mat-header-cell *matHeaderCellDef>Обложка</th>
    <td mat-cell *matCellDef="let article" class="news-table-cell article-image-cell">
      <img [src]="article.imageSrc" height="100" class="article-image" alt="Превью обложки" />
    </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef="let element">Заголовок</th>
    <td mat-cell *matCellDef="let article" class="news-table-cell mat-title news-title">
      <p class="article-title">{{ article.title }}</p>
    </td>
  </ng-container>
  <ng-container matColumnDef="summary">
    <th mat-header-cell *matHeaderCellDef>Сводка</th>
    <td mat-cell *matCellDef="let article" class="news-table-cell article-summary">
      <p class="mat-body">{{ article.summary }}</p>
      <i class="text-color-primary">{{ article.category }}</i>
    </td>
  </ng-container>
  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef>Ссылка</th>
    <td mat-cell *matCellDef="let article" class="news-table-cell">
      <a [href]="article.link" target="_blank">Читать на Lenta.ru</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Дата</th>
    <td mat-cell *matCellDef="let article" class="news-table-cell date-cell">{{ parseDate(article.published) }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let article; columns: displayedColumns;" class="table-row news-row" (dblclick)="openNewsDetail(article)"></tr>
</table>
<div class="update-button-wrapper">
  <button mat-button class="update-button text-white background-primary" (click)="refreshData()">Обновить</button>
</div>

<div class="charts-wrapper">
  <app-category-stats [news]="news"></app-category-stats>
  <app-category-stats-pie [news]="news"></app-category-stats-pie>
</div>

