<div *ngIf="!isLoading">

  <table mat-table matSort (matSortChange)="onSortChange($event)" [dataSource]="dataSource" class="news-table">
    <ng-container matColumnDef="thumbnail">
      <th mat-header-cell *matHeaderCellDef class="text-center"></th>
      <td mat-cell *matCellDef="let article" class="news-table-cell article-image-cell">
        <img [src]="article.imageSrc" height="100" class="article-image" alt="Превью обложки" />
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef="let element" mat-sort-header class="text-center sort-header-cell">Заголовок</th>
      <td mat-cell *matCellDef="let article" class="news-table-cell mat-title news-title">
        <p class="article-title">{{ article.title }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="summary">
      <th mat-header-cell *matHeaderCellDef class="text-center">Сводка</th>
      <td mat-cell *matCellDef="let article" class="news-table-cell article-summary">
        <p class="mat-body">{{ article.summary }}</p>
        <i class="text-color-primary">{{ article.category }}</i>
      </td>
    </ng-container>
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef class="text-center">Ссылка</th>
      <td mat-cell *matCellDef="let article" class="news-table-cell text-center">
        <a [href]="article.link" target="_blank">Читать на Lenta.ru</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center sort-header-cell">Дата</th>
      <td mat-cell *matCellDef="let article" class="news-table-cell date-cell">{{ parseDate(article.published) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let article; columns: displayedColumns;" (click)="selectRow(article.link)" [ngClass]="{ 'selected-row': isSelected(article.link) }" class="table-row news-row" (dblclick)="openNewsDetail(article)"></tr>
  </table>
  <div class="update-button-wrapper">
    <button mat-button class="update-button text-white background-primary" (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
      <span>Обновить</span>
    </button>
  </div>


  <div class="charts-wrapper" *ngIf="news.length">
    <app-category-stats-bar [news]="news"></app-category-stats-bar>
    <app-category-stats-pie [news]="news"></app-category-stats-pie>
  </div>

</div>
